<div class="menu-bar-container">
    <div class="menu-bar-logo">
        <img src="assets/ps-logo.png" alt="playstation logo" width="140px" height="32px">
    </div>
    <div class="menu-bar-item">
        <ul>
            <li><a target="_blank" href="https://www.linkedin.com/in/rafael-batista-ferreira-10529a234/">LINKEDIN</a>
            </li>
            <li><a target="_blank" href="https://github.com/RafaelFerreira18">GITHUB</a></li>
            <li><a target="_blank" href="https://www.instagram.com/rafael.ferreira18/">INSTAGRAM</a></li>
        </ul>
    </div>
</div>